*{
    font-family: 'Roboto', sans-serif;
}

/*header section start*/
.container{
    width: 100%;
    margin: auto;
   
}
.header{
 text-align: center;
}
.header h1{
margin-top: 20px;
margin-bottom: 10px;
font-size: 28px;
font-weight: 900;
}
.header p{
    font-size: 13px;
    line-height: 28px;
}
.header hr{
    margin-bottom: 10px;
}
.header span{
    font-weight: bolder;
    font-size: 16;
}
.header a{
    text-decoration: none;
}
/*ipad mini */
@media (min-width: 768px) {
    .container{
        width: 92%;
        margin: auto;
    }
    .header{
        text-align: center;
       }
       .header h1{
       margin-top: 20px;
       font-size: 35px;
       font-weight: 900;
       }
       .header p{
           font-size: 16px;
           line-height: 28px;
       }
       .header hr{
           margin-bottom: 10px;
       }
       .header span{
           font-weight: bolder;
           font-size: 20px;
       }
}
/*nest hub*/
@media (min-width:1024px){
    .container{
        width: 85%;
        margin: auto;
       
    }
    .header{
        text-align: center;
       }
       .header h1{
       margin-top: 20px;
       margin-bottom: 10px;
       font-size: 40px;
       font-weight: 900;
       }
       .header p{
           font-size: 18px;
           line-height: 32px;
       }
       .header hr{
           margin-bottom: 10px;
       }
       .header span{
           font-weight: bolder;
           font-size: 22px;
       }
}
/*header section end*/
/*objective section start*/
.container{
    width: 100%;
    margin: auto;
   
}
.objective h2{
font-size: 23px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 15px;
}
.objective p{
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
}
/*ipad mini*/
@media (min-width:768px){
    .container{
        width: 92%;
        margin: auto;
    }
    .objective h2{
        font-size: 28px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 15px;
        }
        .objective p{
            font-size: 16px;
            line-height: 18px;
            padding-bottom: 10px;
        }
}
/*nest hub*/
@media (min-width:1024px){
    .container{
        width: 85%;
        margin: auto;
       
    }
    .objective h2{
        font-size: 35px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 15px;
        }
        .objective p{
            font-size: 18px;
            line-height: 18px;
            padding-bottom: 10px;
        }
}
/*obective end*/
/*education start */
